<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="calc">
        <h2>简单计算器</h2>
        <label for="numA">数值A：<input type="text" v-model="numA"></label>
        <label for="numB">数值B：<input type="text" v-model="numB"></label>
        <button @click="add">计算</button>
        <span>计算结果：</span><span>{{result}}</span>
    </div>
    <script>
        let vue = new Vue({
            el: '#calc',
            data: {
                numA: '',
                numB: '',
                result: ''
            },
            methods: {
                add: function() {
                    this.result = parseInt(this.numA) + parseInt(this.numB);
                }
            }
        });
    </script>
</body>
</html>