<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoListTest</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="http://at.alicdn.com/t/font_2547237_c9bi0btw9uj.js"></script>
    <link rel="stylesheet" href="index.css">
    <style>
        main {
            position: relative;
        }
        .clearTask {
            position: absolute;
            background-color: white;
            right: 10px;
            bottom: 15px;
            padding: 0 6px;
            line-height: 20px;
            height: 20px;
            border-radius: 10px;
        }
        .clearTask:hover {
            background-color: rgb(223, 217, 217);
        }
    </style>
</head>
<body>
    <div id="app">
        <main>
            <button class="clearTask" @click=remove>清空已完成</button>
            <div class="header">
                <add_task placeholder="输入任务" method-name="addtask"></add_task>
                <now></now>
                <div id="moreSetting">
                    <button class="show_more">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-diandiandianshu"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <task_list :tasks="tasks" :comp="complete" :save="saveTasks"></task_list>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        Vue.config.productionTip = false;

        Vue.directive('focus', {
            inserted: function(el) {
                el.focus();
            }
        });
        // 获取输入框内容并提交
        // 提交后由本体进行等处理
        Vue.component('add_task', {
            template: `
            <div class="add_task">
                <input type="text" :methodname=methodName class="task_input" :placeholder=placeholder v-model='content' @keyup.enter=subContent v-focus>
            </div>
            `,
            data: function() {
                return {
                    content: ''
                }
            },
            methods: {
                subContent: function() {
                    // 调用父元素对应方法并传入输入框内容
                    this.$parent[this.methodName](this.content);
                    // 清空输入框内容
                    this.content = '';
                }
            },
            props: [
                'placeholder',
                'methodName'
            ]
        })
        

        // 任务列表
        Vue.component('task_list', {
            // item从上到下依次 完成按钮，任务内容，番茄按钮，删除按钮
            template: `
            <div id="task_list">
                <ul class="tsklist_underway">
                    <li :key='task.id' v-for='task in tasks' :class="{ complete: task.isComplete }" class="task_item">
                        <input type="button" class="task_complete" @click="taskComplete(task)" value="√">
                        <span class="task_content" v-if="edited" @dblclick.prevent=edit(task.id)>{{task.task}}</span>
                        <span class="task_content" v-else @dblclick.prevent=edit(task.id)>{{task.task}}</span>
                        <input type="button" class="tomato" value="">
                        <delete-item :tasks="tasks" :thisItem="task" :save="save"></delete-item>
                    </li>
                </ul>
            </div>
            `,
            data: function() {
                return {
                    edited: false
                }
            },
            props: [
                'tasks',
                'comp',
                'save'
            ],
            methods:{
                taskComplete: function(task) {
                    this.comp(task);
                },
                edit: function(id) {
                    this.edited = true;
                    console.log(this.edited);
                    console.log(id);
                }
                
            }
        })

        // 删除按钮（任务列表子组件
        Vue.component('deleteItem', {
            template: `
            <input type="button" class="delete" value="×" @click="deleteThis($event)">
            `,
            props: [
                'tasks',
                'thisItem',
                'save'
            ],
            methods: {
                // 删除这个任务
                deleteThis: function(e) {
                    // 获取该任务序列
                    let itemIndex = this.tasks.indexOf(this.thisItem);
                    // 将该任务从任务组删除
                    this.tasks.splice(itemIndex, 1);
                    // 保存到浏览器
                    if (this.save) {
                        this.save();
                    }
                }
            },
        })

        // 获取当前时间的组件
        Vue.component('now', {
            template: `
                <div class="now">{{now}}</div>
            `,
            computed: {
                // 获取当前日期
                now: function() {
                    let date = new Date();
                    let now = date.getMonth() + 1 + '月' + date.getDate() + '日'
                    return now
                }
            }
        })

        let vm = new Vue({
            el: "#app",
            data: {
                total: 0,
                nextId: 0,
                content: '',
                tasks: []
            },
            methods: {
                // 将add_task传过来的数据添加到tasks数组
                addtask: function(content) {
                    // 确保输入了内容
                    if (!content) {
                        return;
                    }
                    this.content = content;
                    // 创建新的任务对象
                    let task = {
                        id: this.nextId,
                        task: this.content,
                        isComplete: false
                    }
                    // 将新的任务对象加入任务组
                    this.tasks.push(task);
                    // 更新总数
                    this.total = this.tasks.length;
                    // 更新下一个ID应设的值
                    this.nextId = parseInt(this.tasks[this.tasks.length - 1].id) + 1;
                    // 保存
                    this.saveTasks();
                },
                edit: function(id) {
                    //!!!!!!!!!!!!!!!!!!!!
                    // console.log(id);
                    // console.log('qwq');
                    
                },
                // 任务完成（删除该任务
                complete: function(task) {
                    // 改变完成状态
                    task.isComplete = !task.isComplete;
                    // 保存
                    this.saveTasks();
                },
                remove: function() {
                    // 从任务组中删除对应ID的项
                    this.tasks = this.tasks.filter(function(item) {
                        // 如果任务未完成则保留
                        return item.isComplete === false;
                    });
                    this.saveTasks();
                },
                saveTasks: function() {
                    // 将任务组转换为JSON字符串并赋值给parsed
                    const parsed = JSON.stringify(this.tasks);
                    // 将parsed存储到tasks字段
                    localStorage.setItem('tasks', parsed);
                }
            },
            mounted: function() {
                if (localStorage.getItem('tasks')) {
                    try {
                        let tasks = JSON.parse(localStorage.getItem('tasks'))
                        this.tasks = tasks;
                        if (tasks.length != 0) {
                            // 获取任务组最后一项的id并+1 得到未来新创建的任务id序列
                            this.nextId = parseInt(tasks[tasks.length - 1].id) + 1;
                        }
                    } catch(e) {
                        localStorage.removeItem('tasks');
                    }
                }
            }
        })
    </script>
</body>
</html>